body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sider {
  height: 100vh !important;
  max-width: 400px !important;
  position: fixed;
  width: 250px !important;
}
.site-card-wrapper {
  overflow-x: hidden;
}
.selected {
  color: gold !important;
}
.teamTable {
  max-width: 95%;
  padding-left: 10px;
  padding-top: 15px;
  overflow-x: hidden;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.chart {
  display: block !important; 
  box-sizing: border-box;
  height: 400px !important;
  width: 400px !important;
  top: -322px !important;
  position: relative !important;
  left: 270px!important;
}
