body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sider {
  height: 100vh !important;
  max-width: 400px !important;
  position: fixed;
  width: 250px !important;
}
.site-card-wrapper{
  overflow-x: hidden;
}
.selected{
  color: gold !important;
}
